{% extends 'navigation.html'%}
{% load static %}
{% block body %}
<section class="about" id="about">
  <div class="image">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>
<div class="content">
  <p style="font-size: xx-large;">About US</p></br>
  <p style="font-size: medium;">Agrivision aim is to create a single plateform for imparting quality education,
    skill based trainings, providing internships and jobs as well as nurturing talents
  and making future Agri-preneurs.</p><br><br><br>
</div>
</section>
  {% endblock %}
