{% extends 'navigation.html'%}
{% load static %}
{% block body %}
<section class="about" id="about">
  <div class="image">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>
<div class="content">
  <p style="font-size: xx-large;">Privacy Policy</p></br>
  <p style="font-size: medium;"> When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
  Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site.
   We refer to this automatically-collected information as "Device Information".</p><br><br><br>
</div>
</section>
  {% endblock %}
