{% extends 'navigation.html'%}
{% load static %}
{% block body %}
<section class="about" id="about">
  <div class="image">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>
<div class="content">
  <p style="font-size: xx-large;">Terms of Service</p></br>
  <p style="font-size: medium;">this site is a residue of <a href="https://linktr.ee/agrivision4u_">www.agrivision.com</a>.
  In this loading page i have given some top point view of agrivision4u_ site idea.</p><br><br><br>
</div>
</section>
  {% endblock %}
